<div class="container mt-3">
  <h3 class="text-center">Customers</h3>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Email</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Phone</th>
          <th scope="col">Date of Birth</th>
          <th scope="col">Actions</th>
        </tr>
        <tr *ngFor="let customer of customers; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ customer?.email }}</td>
          <td>{{ customer?.firstName }}</td>
          <td>{{ customer?.lastName }}</td>
          <td>{{ customer?.phoneNumber }}</td>
          <td>{{ customer?.dateOfBirth | date: 'dd/MM/yyyy' }}</td>
          <td class="d-flex justify-content-between">
            <button
              class="btn btn-primary"
              type="submit">
              View
            </button>
            <button
              *ngIf="!customer?.isLocked"
              class="btn btn-warning"
              type="submit"
              (click)="lockUser(customer?.id)">
              Block
            </button>
            <button
              *ngIf="customer?.isLocked"
              class="btn btn-success"
              type="submit"
              (click)="unlockUser(customer?.id)">
              Release
            </button>
            <button
              class="btn btn-danger"
              type="submit"
              (click)="deleteCustomer(customer?.id, i)">
              Delete
            </button>
          </td>
        </tr>
      </thead>
    </table>
  </div>
</div>
