<div class="container">
    <div class="jumbotron mt-5">
        <div class="container">
            <h1 class="display-3 h1-about rounded">
                We are <span class="font-weight-bold font-italic">CouponsMenia</span>
            </h1>
            <p>
                <span class="font-weight-bold font-italic">CouponsMenia</span> is a leading coupons company that influences purchase decisions through the power of savings. By connecting partners with our active, engaged shopping audience, we drive growth for more than 70,000 brands internationally.
            </p>
            <p>    
                We’re dedicated to delivering innovative promotional media solutions including mobile coupons and codes, cash back offers, and browser extensions, to help our brand partners achieve their goals.
            </p>
        </div>
    </div>
    <div class="container mb-5">
        <div 
            class="row rounded p-3 border" 
            style="background-color: #e9ecef;">
            <div class="col-sm-4">
                <a 
                    routerLink="/leaders" 
                    class="about-links text-dark"
                    style="cursor: pointer;">
                    <h3>Our Leaders</h3>
                    <p>Meet the leaders at <span class="font-weight-bold font-italic">CouponsMenia</span> who are shaping the vision for our company and driving the future of ecommerce forward.</p>
                </a>
            </div>
            <div class="col-sm-4 text-dark">
                <h3>Technology</h3>
                <p><span class="font-weight-bold font-italic">CouponsMenia</span> creates inspiring ecommerce experiences for our buyers, sellers and developers. Embracing innovation has been a cornerstone of our growth and customer loyalty over the past 25 years -- encompassing technologies such as AI, computer vision, natural language processing and machine translation.</p>
            </div>
            <div class="col-sm-4 text-dark">
                <h3>Impact</h3>
                <p>Every day, people build businesses on <span class="font-weight-bold font-italic">CouponsMenia</span>. Nonprofit organizations raise vital funds. Entrepreneurs gain new skills and access to new markets where they can turn their dreams and ideas into business success.</p>
            </div>
        </div>
    </div>
</div>