.form-group.required .control-label:before{
    color: red;
    content: "*";
    position: absolute;
    margin-left: -15px;
 }

 .form-group, .form-control {
     font-size: .8rem !important;
 }

 .close-x {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 7px solid #f56b00;
    background:
        linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 43%,#fff 45%,#fff 55%,rgba(0,0,0,0) 57%,rgba(0,0,0,0) 100%),
        linear-gradient(135deg, #f56b00 0%,#f56b00 43%,#fff 45%,#fff 55%,#f56b00 57%,#f56b00 100%);
}