<div class="container mt-4">
    <h1 
        class="h3 text-center text-primary font-weight-normal">
        Welcome to 
        <span class="font-weight-bold font-italic">CouponsMenia</span>
    </h1>
    <div class="row rounded p-4 m-0">
        <div class="col-md-6 offset-md-3">
            <form
                [formGroup]="registrationForm"
                (ngSubmit)="onFormSubmit()">
                <div class="d-flex justify-content-between">
                    <div 
                        class="form-group required" 
                        style="width: 45%;">
                        <label 
                            class="control-label" 
                            for="firstname">
                            First Name
                        </label>
                        <input 
                            type="text" 
                            class="form-control"
                            name="firstname"
                            placeholder="First Name"
                            formControlName="firstName">
                        <span 
                            *ngIf="isMissing(firstName)"
                            class="text-danger">
                            field is required.
                        </span>
                        <span 
                            *ngIf="isInvalid(firstName)"
                            class="text-danger">
                            invalid input.
                        </span>
                    </div>
                    <div 
                        class="form-group required"
                        style="width: 50%;">
                        <label 
                            class="control-label" 
                            for="lastname">
                            Last Name
                        </label>
                        <input 
                            type="text" 
                            class="form-control"
                            name="lastname"
                            placeholder="Last Name"
                            formControlName="lastName">
                        <span 
                            *ngIf="isMissing(lastName)"
                            class="text-danger">
                            field is required.
                        </span>
                        <span 
                            *ngIf="isInvalid(lastName)"
                            class="text-danger">
                            invalid input.
                        </span>
                    </div>
                </div>
                <div 
                    class="form-group required" 
                    formGroupName="user">
                    <label 
                        class="control-label"
                        for="email">
                        Email
                    </label>
                    <input 
                        type="email" 
                        class="form-control"
                        name="email"
                        placeholder="Enter email"
                        formControlName="email">
                    <span 
                        *ngIf="isMissing(email)"
                        class="text-danger">
                        field is required.
                    </span>
                    <span 
                        *ngIf="isInvalid(email)"
                        class="text-danger">
                        invalid input.
                    </span>
                </div>
                <div 
                    class="form-group required" 
                    formGroupName="user">
                    <label 
                        class="control-label"
                        for="username">
                        Username
                    </label>
                    <input 
                        type="text" 
                        autocomplete="username"
                        class="form-control"
                        name="username"
                        placeholder="Enter username"
                        formControlName="userName">
                    <span 
                        *ngIf="isMissing(userName)"
                        class="text-danger">
                        field is required.
                    </span>
                    <span 
                        *ngIf="isInvalid(userName)"
                        class="text-danger">
                        invalid input.
                    </span>
                </div>
                <div class="form-group d-flex justify-content-between" formGroupName="user">
                    <div 
                        class="form-group required" 
                        style="width: 48%;"
                        formGroupName="passwords">
                        <label 
                            class="control-label"
                            for="password">
                            Password
                        </label>
                        <input 
                            type="password" 
                            autocomplete="new-password"
                            class="form-control"
                            name="password"
                            placeholder="Enter password"
                            formControlName="password">
                        <span 
                            *ngIf="isMissing(password)"
                            class="text-danger">
                            field is required.
                        </span>
                        <span 
                            *ngIf="isInvalid(password)"
                            class="text-danger">
                            invalid input.
                        </span>
                    </div>
                    <div 
                        class="form-group required" 
                        style="width: 48%;"
                        formGroupName="passwords">
                        <label 
                            class="control-label"
                            for="passwordConfirm">
                            Confirm Password
                        </label>
                        <input 
                            type="password" 
                            autocomplete="new-password"
                            class="form-control"
                            [class.ng-invalid]="isPasswordsMismatch(confirmPassword) || isMissing(confirmPassword)"
                            name="passwordConfirm"
                            placeholder="Confirm password"
                            formControlName="confirmPassword">
                        <span 
                            *ngIf="isPasswordsMismatch(confirmPassword)"
                            class="text-danger">
                            no match.
                        </span>
                        <span 
                            *ngIf="isMissing(confirmPassword)"
                            class="text-danger">
                            field is required.
                        </span>
                    </div>
                </div>
                <div class="form-group required">
                    <label 
                        class="control-label"
                        for="phoneNumber">
                        Phone Number
                    </label>
                    <input 
                        type="tel" 
                        class="form-control"
                        name="phoneNumber"
                        placeholder="Enter phone number"
                        formControlName="phoneNumber">
                    <span 
                        *ngIf="isMissing(phoneNumber)"
                        class="text-danger">
                        field is required.
                    </span>
                    <span 
                        *ngIf="isInvalid(phoneNumber)"
                        class="text-danger">
                        invalid input.
                    </span>
                </div>
                <div class="form-group">
                    <label 
                        for="address">
                        Address
                    </label>
                    <input 
                        type="text" 
                        class="form-control"
                        name="address"
                        placeholder="Enter address"
                        formControlName="address">
                    <span 
                        *ngIf="isInvalid(address)"
                        class="text-danger">
                        invalid input.
                    </span>
                </div>
                <div class="form-group required">
                    <label 
                        class="control-label"
                        for="dateOfBirth">
                        Date of birth
                    </label>
                    <input 
                        type="date" 
                        class="form-control"
                        name="dateOfBirth"
                        formControlName="dateOfBirth">
                    <span 
                        *ngIf="isMissing(dateOfBirth)"
                        class="text-danger">
                        field is required.
                    </span>
                    <span 
                        *ngIf="isInvalid(dateOfBirth)"
                        class="text-danger">
                        {{ dateOfBirth.errors.value }}
                    </span>
                </div>
                <div class="container pl-0">
                    <div class="d-flex justify-content-start">
                        <button 
                            type="submit"
                            class="btn btn-primary"
                            [disabled]="!registrationForm.valid">
                            Submit
                        </button>
                        <div class="mx-2"></div>
                        <button
                            type="reset"
                            class="btn btn-danger"
                            (click)="onRevert()">
                            Reset
                        </button>
                        <div class="mx-2"></div>
                    </div>
                </div>
                
                <div 
                    *ngIf="formSubmitted">
                    <div 
                        class="text-success m-2" 
                        style="font-weight: bolder;">
                        <span>&#10003;</span> Your account was created successfully.
                    </div>
                </div>
                <div
                    *ngIf="formSubmitFailure">
                    <div 
                        class="text-danger m-2" 
                        style="font-weight: bolder;">
                        <span>&#33;</span> {{ formFailureReason }}.
                    </div>
                </div>
            </form>
            <div class="mt-3">
                <a 
                    routerLink="/login">
                    Already have an account? sign-in
                </a>
            </div>
        </div>
    </div>
</div>