.form-group.required .control-label:before{
    color: red;
    content: "*";
    position: absolute;
    margin-left: -15px;
 }

 .form-group, .form-control {
     font-size: 1rem !important;
 }

 .ng-touched.ng-invalid:not(form):not(.form-group) {
    background-color: rgba(240, 128, 128, 0.356);
}
