<div class="container mt-3">
  <h3 class="text-center">Purchases</h3>
  <hr>
  <div class="d-flex justify-content-between font-weight-bold mb-2">
    <div>
      <span>Search: </span>
      <input type="text" name="search" placeholder="search purchases" [(ngModel)]="purchaseSearch">
    </div>
    <span class="ml-auto">Total purchases: {{ purchasesCount }}</span>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Purchase Date</th>
          <th scope="col">Quantity</th>
          <th scope="col">Amount</th>
          <th *ngIf="isAdmin" scope="col">Coupon Id</th>
          <th scope="col">Coupon Title</th>
          <th *ngIf="isCompanyUser" scope="col">Coupon Category</th>
          <th scope="col">Customer Name</th>
          <th scope="col">Actions</th>
        </tr>
        <tr *ngFor="let purchase of purchases | searchFilter:purchaseSearch; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ purchase?.purchaseDate | date: 'MM/dd/yyyy' }}</td>
          <td>{{ purchase?.quantity }}</td>
          <td>{{ purchase?.amount }}</td>
          <td *ngIf="isAdmin">{{ purchase?.couponId }}</td>
          <td>{{ purchase?.couponTitle }}</td>
          <td *ngIf="isCompanyUser">{{ purchase?.couponCategory }}</td>
          <td *ngIf="isAdmin">{{ purchase?.customer.fullName }}</td>
          <td *ngIf="isCompanyUser">{{ purchase?.customerFullName }}</td>
          <td class="d-flex">
            <button
              class="btn btn-primary mr-2"
              type="submit"
              (click)="[(viewPurchaseDetails(purchaseDetails))]">
              View
            </button>
            <ng-template #purchaseDetails let-modal>
              <div class="modal-header">
                <h4 class="modal-title">
                  Purchase Details
                </h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <div><strong>Id: </strong>{{ purchase.id }}</div>
                <hr>
                <div><strong>Purchase Date: </strong>{{ purchase.purchaseDate | date: 'dd/MM/yyyy' }}</div>
                <hr>
                <div><strong>Coupon Title: </strong>{{ purchase.couponTitle }}</div>
                <hr>
                <div><strong>Quantity: </strong>{{ purchase.quantity }}</div>
                <hr>
                <div><strong>Coupon Price: </strong>{{ purchase.couponPrice }}</div>
                <hr>
                <div><strong>Purchase Amount: </strong>{{ purchase.amount | currency }}</div>
                <hr>
                <div class="d-flex">
                  <button
                    type="submit"
                    class="btn btn-primary ml-auto"
                    (click)="modal.dismiss('Close button click')">
                    Close
                  </button>
                </div>
              </div>
            </ng-template>
          </td>
        </tr>
      </thead>
    </table>
  </div>
</div>
