<div class="container mt-3">
  <h3 class="text-center">Companies</h3>
  <hr>
  <div class="d-flex justify-content-between font-weight-bold mb-2">
    <div>
      <span>Search: </span>
      <input type="text" name="search" placeholder="search companies" [(ngModel)]="companySearch">
    </div>
    <button
      type="submit"
      class="btn btn-outline-primary btn-sm ml-2"
      (click)="openCompanyForm(addCompanyForm)">
      Add
    </button>
    <ng-template #addCompanyForm let-modal>
      <div class="modal-header">
        <h4 class="modal-title">
          Company Details
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <form
        [formGroup]="companyForm">
        <div class="modal-body">
          <div class="">
            <div
              class="form-group required">
              <label
                class="control-label h6 small font-weight-bold"
                for="name">
                Name
              </label>
              <input
                type="text"
                class="form-control"
                name="name"
                placeholder="company name"
                formControlName="name">
            </div>
            <div
              class="form-group required">
              <label
                class="control-label h6 small font-weight-bold"
                for="email">
                Email
              </label>
              <input
                type="text"
                class="form-control"
                name="email"
                placeholder="email"
                formControlName="email">
            </div>
            <div
              class="form-group required">
              <label
                class="control-label h6 small font-weight-bold"
                for="phoneNumber">
                Phone
              </label>
              <input
                type="tel"
                class="form-control"
                name="phoneNumber"
                placeholder="phone number"
                formControlName="phoneNumber">
            </div>
            <div
              class="form-group required">
              <label
                class="control-label h6 small font-weight-bold"
                for="address">
                Address
              </label>
              <input
                type="text"
                class="form-control"
                name="address"
                placeholder="address"
                formControlName="address">
            </div>
            <div class="form-group required">
              <label
                class="control-label h6 small font-weight-bold"
                for="industry">
                Select Industry
              </label>
              <select class="form-control" name="industry" formControlName="industry">
                <option disabled selected>Select...</option>
                <option>FOOD</option>
                <option>TEXSTILE</option>
                <option>TOURISM</option>
                <option>ELECTRONICS</option>
                <option>JEWLERY</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div
            *ngIf="isFormSubmitted"
            class="mr-auto text-success"
            style="font-weight: bolder;">
            <span>&#10003;</span> Company was {{ companyState }} successfully.
          </div>
          <div
            *ngIf="isSubmitFailed"
            class="mr-auto text-danger"
            style="font-weight: bolder;">
            <span>&#33;</span> {{ formFailureReason }}.
          </div>
          <div class="d-flex mt-2">
            <button
              *ngIf="isCompanyNew"
              type="submit"
              class="btn btn-primary mr-2"
              [disabled]="!companyForm.valid"
              (click)="saveNewCompany(modal)">
              Save
            </button>
            <button
              *ngIf="!isCompanyNew"
              type="submit"
              class="btn btn-primary mr-2"
              [disabled]="!companyForm.valid"
              (click)="saveExistingCompany(companyIndex, modal)">
              Save
            </button>
            <button
              type="submit"
              class="btn btn-danger ml-auto"
              (click)="clearForm()">
              Clear
            </button>
          </div>
        </div>
      </form>
    </ng-template>
    <span class="ml-auto">Total companies: {{ companiesCount }}</span>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Industry</th>
          <th scope="col">Actions</th>
        </tr>
        <tr *ngFor="let company of companies | searchFilter:companySearch; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ company?.name }}</td>
          <td>{{ company?.email }}</td>
          <td>{{ company?.phoneNumber }}</td>
          <td>{{ company?.industry }}</td>
          <td class="d-flex">
            <button
              class="btn btn-primary mr-2"
              type="submit"
              (click)="[(viewCompanyDetails(companyDetails))]">
              View
            </button>
            <ng-template #companyDetails let-modal>
              <div class="modal-header">
                <h4 class="modal-title">
                  Company Details
                </h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <div><strong>Id: </strong>{{ company.id }}</div>
                <hr>
                <div><strong>Name: </strong>{{ company.name }}</div>
                <hr>
                <div><strong>Email: </strong>{{ company.email }}</div>
                <hr>
                <div><strong>Phone: </strong>{{ company.phoneNumber }}</div>
                <hr>
                <div><strong>Address: </strong>{{ company.address }}</div>
                <hr>
                <div><strong>Industry: </strong>{{ company.industry }}</div>
                <hr>
                <div class="d-flex">
                  <button
                    type="submit"
                    class="btn btn-primary ml-auto"
                    (click)="modal.dismiss('Close button click')">
                    Close
                  </button>
                </div>
              </div>
            </ng-template>
            <button
              class="btn btn-success mr-2"
              type="submit"
              (click)="updateCompanyModal(company, addCompanyForm)">
              Update
            </button>
            <button
              class="btn btn-danger"
              type="submit"
              (click)="deleteCompany(company?.id, i)">
              Delete
            </button>
          </td>
        </tr>
      </thead>
    </table>
  </div>
</div>
