<div class="card col" style="width: 18rem; cursor: pointer;"
    (click)=[(showCoupon(selectedCoupon))]>
    <div>
        <div class="card-header rounded">{{ coupon.title }}</div>
        <img [src]="coupon.imageUrl" class="img-fluid card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">
                <span>Price: {{ coupon.price | currency }}</span><br>
                <span>Quantity: {{ coupon.quantity }}</span>
            </p>
        </div>
    </div>
</div>
<ng-template #selectedCoupon let-modal>
    <div class="modal-header">
        <h4 class="modal-title">
            {{ this.coupon?.title }}
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <img
            [src]="this.coupon?.imageUrl"
            alt="selected coupon image"
            class="img-fluid card-img-top">
        <hr>
        <p>
            <span>
                <span
                    class="font-weight-bold">
                    Product Description:
                </span>
                {{ this.coupon?.description }}
            </span><br>
            <span>
                <span
                    class="font-weight-bold">
                    Price:
                </span>
                {{ this.coupon?.price | currency }}
            </span><br>
            <span>
                <span
                    class="font-weight-bold">
                    Product Category:
                </span>{{ this.coupon?.category }}
            </span><br>
            <span>
                <span
                    class="font-weight-bold">
                    Coupon will expire on:
                </span>{{ this.coupon?.expirationDate | date: 'MM/dd/yyyy' }}
            </span><br>
            <span>
                <span
                    class="font-weight-bold">
                    Items left:
                </span>{{ this.coupon?.quantity }}
            </span>
        </p>
    </div>
    <alert></alert>
    <div class="modal-footer">
      <div class="toggle-amount mr-auto">
        <button type="button" class="btn btn-amount" (click)="decrementQuantity()">-</button>
        <input type="number" class="items-quantity" [(ngModel)]="quantity" value="{{ quantity }}" min="{{ 0 }}" max="{{ 100 }}">
        <button type="button" class="btn btn-amount" (click)="incrementQuantity()">+</button>
      </div>
      <div>
        <button type="button" class="btn btn-outline-dark" (click)="addCouponToCart(modal)">Add To Cart</button>
      </div>
    </div>
</ng-template>
