<div class="container mt-5">
    <h2 class="text-center">Reset your password</h2>
    <div
        *ngIf="!formSubmitted && !formSubmitFailure"
        class="row">
        <div class="col-md-6 offset-md-3">
            <form
                [formGroup]="resetPassForm"
                (ngSubmit)="onFormSubmit()">
                <div class="form-group required">
                    <label
                        class="h6 small font-weight-bold"
                        for="password">
                        Password
                    </label>
                    <div class="d-flex">
                      <input
                          type="password"
                          class="form-control mr-1"
                          name="password"
                          formControlName="password">
                      <svg
                        *ngIf="resetPassForm.controls['password'].valid"
                        class="checkmark"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 52 52">
                          <circle
                            class="checkmark__circle"
                            cx="26"
                            cy="26"
                            r="25"
                            fill="none"/>
                              <path
                                class="checkmark__check"
                                fill="none"
                                d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                      </svg>
                    </div>
                </div>
                <div class="form-group required">
                    <label
                        class="h6 small font-weight-bold"
                        for="confirmPassword">
                        Confirm password
                    </label>
                    <div class="d-flex">
                      <input
                          type="password"
                          class="form-control mr-1"
                          name="confirmPassword"
                          formControlName="confirmPassword">
                      <svg
                        *ngIf="resetPassForm.controls['confirmPassword'].valid && !isPasswordsMismatch(resetPassForm.controls['confirmPassword'])"
                        class="checkmark"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 52 52">
                          <circle
                            class="checkmark__circle"
                            cx="26"
                            cy="26"
                            r="25"
                            fill="none"/>
                              <path
                                class="checkmark__check"
                                fill="none"
                                d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                      </svg>
                    </div>
                </div>
                <div class="d-flex">
                    <button
                        type="submit"
                        class="btn btn-primary"
                        [disabled]="!resetPassForm.valid">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div
      *ngIf="formSubmitted && !formSubmitFailure"
      class="row d-flex justify-content-center">
      <div
        class="text-center m-2"
        style="font-weight: bolder;">
        <span class="text-success">&#10003;</span> Your password was reset <span class="text-success">successfully</span>. You will be redirected back to login in 5 seconds.
      </div>
    </div>
</div>
