<div class="container mt-3">
  <h3 class="text-center">Users</h3>
  <hr>
  <div class="d-flex justify-content-between font-weight-bold mb-2">
    <div>
      <span>Search: </span>
      <input type="text" name="search" placeholder="search users" [(ngModel)]="userSearch">
    </div>
    <button
      type="submit"
      class="btn btn-outline-primary btn-sm ml-2"
      (click)="openUserForm(addUserForm)">
      Add
    </button>
    <ng-template #addUserForm let-modal>
      <div class="modal-header">
        <h4 class="modal-title">
          User Details
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <form
        [formGroup]="userForm">
        <div class="modal-body">
          <div>
            <div
              class="form-group required">
              <label
                class="control-label h6 small font-weight-bold"
                for="email">
                Email
              </label>
              <input
                type="email"
                name="email"
                class="form-control"
                placeholder="email address"
                formControlName="email">
            </div>
            <div
              class="form-group required">
              <label
                class="control-label h6 small font-weight-bold"
                for="username">
                Username
              </label>
              <input
                type="text"
                name="username"
                class="form-control"
                placeholder="username"
                formControlName="username">
            </div>
            <div
              class="form-group required"
              formGroupName="passwords">
              <label
                class="control-label h6 small font-weight-bold"
                for="password">
                Password
              </label>
              <input
                type="password"
                name="password"
                class="form-control"
                placeholder="password"
                formControlName="password">
            </div>
            <div
              class="form-group required"
              formGroupName="passwords">
              <label
                class="control-label h6 small font-weight-bold"
                for="passwordConfirm">
                Confirm password
              </label>
              <input
                type="password"
                name="passwordConfirm"
                class="form-control"
                placeholder="confirm password"
                formControlName="confirmPassword">
              <span
                  *ngIf="isPasswordsMismatch(confirmPassword)"
                  class="text-danger">
                  passwords don't match.
              </span>
            </div>
            <div
              *ngIf="isAdminUser"
              class="form-group required">
              <label
                class="control-label h6 small font-weight-bold"
                for="type">
                Select Type
              </label>
              <select
                name="type"
                class="form-control"
                formControlName="type"
                #type (change)="onTypeCompany($event, type.value)">
                <option disabled selected></option>
                <option>ADMIN</option>
                <option>COMPANY</option>
              </select>
            </div>
            <div
              *ngIf="isCompany"
              class="form-group required">
              <label
                class="control-label h6 small font-weight-bold"
                for="company">
                Select Company
              </label>
              <select
                name="company"
                class="form-control"
                formControlName="companyName">
                <option selected></option>
                <option
                  *ngFor="let company of companies">
                  {{ company?.name }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </form>
      <div class="modal-footer">
        <div
            *ngIf="isFormSubmitted"
            class="mr-auto text-success"
            style="font-weight: bolder;">
            <span>&#10003;</span> User was {{ userState }} successfully.
          </div>
          <div
            *ngIf="isSubmitFailed"
            class="mr-auto text-danger"
            style="font-weight: bolder;">
            <span>&#33;</span> {{ formFailureReason }}.
          </div>
          <div class="d-flex mt-2">
            <button
              *ngIf="!isFormSubmitted"
              type="submit"
              class="btn btn-primary mr-2"
              [disabled]="!userForm.valid"
              (click)="saveNewUser(modal)">
              Save
            </button>
          </div>
      </div>
    </ng-template>
    <span class="ml-auto">Total users: {{ usersCount }}</span>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Email</th>
          <th scope="col">userName</th>
          <th scope="col">Type</th>
          <th scope="col">Is Locked</th>
          <th scope="col">Actions</th>
        </tr>
        <tr *ngFor="let user of users | searchFilter:userSearch; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ user?.email }}</td>
          <td>{{ user?.userName }}</td>
          <td>{{ user?.type }}</td>
          <td>{{ user?.isLocked }}</td>
          <td class="d-flex">
            <button
              class="btn btn-primary mr-2"
              type="submit"
              (click)="[(viewUserDetails(userDetails))]">
              View
            </button>
            <ng-template #userDetails let-modal>
              <div class="modal-header">
                <h4 class="modal-title">
                  User Details
                </h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <div><strong>Id: </strong>{{ user.id }}</div>
                <hr>
                <div><strong>Email: </strong>{{ user.email }}</div>
                <hr>
                <div><strong>Username: </strong>{{ user.userName }}</div>
                <hr>
                <div><strong>Type: </strong>{{ user.type }}</div>
                <hr>
                <div><strong>Is locked: </strong>{{ user.isLocked }}</div>
                <hr>
                <div class="d-flex">
                  <button
                    type="submit"
                    class="btn btn-primary ml-auto"
                    (click)="modal.dismiss('Close button click')">
                    Close
                  </button>
                </div>
              </div>
            </ng-template>
            <button
              *ngIf="(!user?.isLocked && user.userName != 'superadmin') && (!user?.isLocked && user.id != userId)"
              class="btn btn-warning mr-2"
              type="submit"
              (click)="lockUser(user?.id)">
              Block
            </button>
            <button
              *ngIf="(user?.isLocked  && user.userName != 'superadmin') && (user?.isLocked && user.id != userId)"
              class="btn btn-success mr-2"
              type="submit"
              (click)="unlockUser(user?.id)">
              Release
            </button>
            <button
              *ngIf="user.userName != 'superadmin' && user.id != userId"
              class="btn btn-danger mr-2"
              type="submit"
              (click)="deleteUser(user?.id, i)">
              Delete
            </button>
          </td>
        </tr>
      </thead>
    </table>
  </div>
</div>

