/* You can add global styles to this file, and also import other style files
.text-white {
    color: white;
}

.rounded {
    border-radius: 10px;
}

.mb-5 {
    margin-bottom: 3rem !important;
}

.mt-2 {
    margin-top: .5rem !important;
}

.h-100 {
    height: 100% !important;
}

.d-flex {
    display: flex !important;
}

.justify-content-center {
    justify-content: center !important;
} */