<div class="container">
    <div class="d-flex justify-content-center">
        <h1 class="mt-2">Our Leadership</h1>
    </div>
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-3">
                <img 
                    src="../../../assets/obama.jpeg" 
                    alt="Barak Obama" 
                    style="max-height: max-content; max-width: max-content;">
            </div>
            <div class="col-md-9 p-5">
                <h5 class="card-title">
                    Barack Obama     
                </h5>
                <p class="card-text">Barack Hussein Obama II (born August 4, 1961) is an American politician and attorney
                    who served as the 44th president of the United States from 2009 to 2017. 
                    A member of the Democratic Party, 
                    Obama was the first African-American president of the United States. 
                    He previously served as a U.S. 
                    senator from Illinois from 2005 to 2008 and an Illinois state senator from 1997 to 2004.
                </p>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-3">
                <img 
                    src="../../../assets/Osama_bin_Laden.webp" 
                    alt="Osama bin Laden" 
                    style="max-height: max-content; max-width: max-content;">
            </div>
            <div class="col-md-9 p-5">
                <h5 class="card-title">
                    Osama bin Laden     
                </h5>
                <p class="card-text">Osama bin Mohammed bin Awad bin Laden (March 10, 1957 – May 2, 2011), 
                    also rendered Usama bin Ladin, was a founder of the pan-Islamic militant organization al-Qaeda, 
                    designated as a terrorist group by the United Nations Security Council, 
                    the North Atlantic Treaty Organization (NATO), the European Union, and various countries.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img 
                    src="../../../assets/stalin.jpg" 
                    alt="Joseph Stalin" 
                    style="padding-top: 3em;">
            </div>
            <div class="col-md-9 p-5">
                <h5 class="card-title">
                    Joseph Stalin     
                </h5>
                <p class="card-text">
                    oseph Vissarionovich Stalin (born Ioseb Besarionis dzе Jughashvili 18 December [O.S. 6 December] 1878 – 5 March 1953) 
                    was a Georgian revolutionary and Soviet politician who ruled the Soviet Union from the mid-1920s 
                    until his death in 1953. 
                    He served as the general secretary of the Communist Party of the Soviet Union (1922–1952) 
                    and premier of the Soviet Union (1941–1953). 
                    Despite initially governing the Soviet Union as part of a collective leadership, 
                    he eventually consolidated power to become the country's de facto dictator by the 1930s. 
                    A communist ideologically committed to the Leninist interpretation of Marxism, 
                    Stalin formalised these ideas as Marxism–Leninism, while his own policies are known as Stalinism.
                </p>
            </div>
        </div>
    </div>
</div>