<div class="container mt-5">
    <h2 class="text-center mb-5">
        Reset password
    </h2>
    <div 
        *ngIf="!formSubmitted"
        class="row">
        <div class="col-md-6 offset-md-3">
            <form
                [formGroup]="getPassCodeForm"
                (ngSubmit)="onFormSubmit()">
                <div class="form-group">
                    <label 
                        class="h6 small font-weight-bold"
                        for="email">
                        Email
                    </label>
                    <input 
                        type="email" 
                        class="form-control"
                        name="email"
                        aria-describedby="emailHelp"
                        placeholder="Enter email"
                        formControlName="email">
                    <small 
                        id="emailHelp" 
                        class="form-text text-muted">
                        We'll never share your email with anyone else.
                    </small>
                </div>
                <div class="d-flex">
                    <button 
                        type="submit"
                        class="btn btn-primary"
                        [disabled]="!getPassCodeForm.valid">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div 
        *ngIf="formSubmitted"
        class="container">
        <div 
            style="font-size: smaller; font-weight: bolder;">
            <div
                class="d-flex justify-content-around mb-2">
                <img 
                    class="img-fluid card-img-top"
                    style="max-width: 100px;"
                    src="https://www.thewellproject.org/sites/default/files/media/email%20logo.jpg" 
                    alt="email logo">
            </div>
            <h5
                class="text-center">
                <span>
                    We sent you an email with link to reset password to <b>{{ userEmail }}</b>, please folow the instructions on email.<br>
                    If you don't see the email in your inbox, make sure to double check your junk folder.
                </span>
            </h5>
            <div
                class="text-center">
                <a 
                    routerLink="/login"
                    style="font-size: large;">
                    Return to sign-in?
                </a>
            </div>
        </div>
    </div>
    <div
        *ngIf="formSubmitFailure">
    <div 
        class="text-danger m-2" 
        style="font-size: smaller; font-weight: bolder;">
        Oops, something went wrong, please try again later.
    </div>
    </div>
</div>