<div class="container mt-3">
  <h3 class="text-center">Customers</h3>
  <hr>
  <div class="d-flex justify-content-between font-weight-bold mb-2">
    <div>
      <span>Search: </span>
      <input type="text" name="search" placeholder="search customers" [(ngModel)]="customerSearch">
    </div>
    <span>Total customers: {{ customersCount }}</span>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Email</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Phone</th>
          <th scope="col">Date of Birth</th>
          <th scope="col">Actions</th>
        </tr>
        <tr *ngFor="let customer of customers | searchFilter:customerSearch; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ customer?.email }}</td>
          <td>{{ customer?.firstName }}</td>
          <td>{{ customer?.lastName }}</td>
          <td>{{ customer?.phoneNumber }}</td>
          <td>{{ customer?.dateOfBirth | date: 'dd/MM/yyyy' }}</td>
          <td class="d-flex">
            <button
              class="btn btn-primary mr-2"
              type="submit"
              (click)="[(viewCustomerDetails(customerDetails))]">
              View
            </button>
            <ng-template #customerDetails let-modal>
              <div class="modal-header">
                <h4 class="modal-title">
                  Customer Details
                </h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <div><strong>Id: </strong>{{ customer.id }}</div>
                <hr>
                <div><strong>Fullname: </strong>{{ customer.firstName + ' ' + customer.lastName }}</div>
                <hr>
                <div><strong>Email: </strong>{{ customer.email }}</div>
                <hr>
                <div><strong>Username: </strong>{{ customer.userName }}</div>
                <hr>
                <div><strong>Phone: </strong>{{ customer.phoneNumber }}</div>
                <hr>
                <div><strong>Address: </strong>{{ customer.address }}</div>
                <hr>
                <div><strong>Birth Date: </strong>{{ customer.dateOfBirth | date: 'dd/MM/yyyy' }}</div>
                <hr>
                <div><strong>Is locked: </strong>{{ customer.isLocked }}</div>
                <hr>
                <div class="d-flex">
                  <button
                    type="submit"
                    class="btn btn-primary ml-auto"
                    (click)="modal.dismiss('Close button click')">
                    Close
                  </button>
                </div>
              </div>
            </ng-template>
            <button
              *ngIf="!customer?.isLocked"
              class="btn btn-warning mr-2"
              type="submit"
              (click)="lockUser(customer?.id)">
              Block
            </button>
            <button
              *ngIf="customer?.isLocked"
              class="btn btn-success mr-2"
              type="submit"
              (click)="unlockUser(customer?.id)">
              Release
            </button>
            <button
              class="btn btn-danger mr-2"
              type="submit"
              (click)="deleteCustomer(customer?.id, i)">
              Delete
            </button>
          </td>
        </tr>
      </thead>
    </table>
  </div>
</div>

